node_modules
.history
build

subgraph.yaml

subgraph.mainnet.yaml
subgraph.polygon.yaml
subgraph.optimism.yaml
subgraph.avalanche.yaml

subgraph.goerli.yaml
subgraph.mumbai.yaml
subgraph.optimism-goerli.yaml
subgraph.fuji.yaml

networks/local.json
generated
generated/schema.ts
build

# Matchstick binaries
tests/.bin/
